In [74]:
import pandas as pd 
import numpy as np
from sklearn.linear_model import SGDClassifier as SGD
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression as LR
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.naive_bayes import GaussianNB as GNB
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import SVC
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.decomposition import PCA
#from sklearn.feature_selection import SequentialFeatureSelector as SFS

In [75]:
df = pd.read_csv("Academic_Performance.csv")

In [76]:
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [77]:
df.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   480.000000        480.000000         480.000000  480.000000
mean     46.775000         54.797917          37.918750   43.283333
std      30.779223         33.080007          26.611244   27.637735
min       0.000000          0.000000           0.000000    1.000000
25%      15.750000         20.000000          14.000000   20.000000
50%      50.000000         65.000000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     100.000000         99.000000          98.000000   99.000000

In [78]:
categorical = ['gender',"VisITedResources",'NationalITy','PlaceofBirth','StageID','GradeID','SectionID','Topic','Semester','Relation','ParentAnsweringSurvey','StudentAbsenceDays','Class','ParentschoolSatisfaction']
numerical = ['raisedhands','AnnouncementsView','Discussion']
x_features = ['gender','NationalITy','PlaceofBirth','StageID','GradeID','SectionID','Topic','Semester','Relation','ParentAnsweringSurvey','StudentAbsenceDays','Class','ParentschoolSatisfaction','raisedhands','AnnouncementsView','Discussion']
label = "VisITedResources"

In [79]:
def visited_categorizing(x):
    if(x>=75):
        return "A"
    if(x>=30):
        return "B"
    if(x>=0):
        return "C"

In [80]:
df[label]  = df[label].apply(visited_categorizing)

In [81]:
from sklearn import preprocessing
categorical = ['gender',"VisITedResources",'NationalITy','PlaceofBirth','StageID','GradeID','SectionID','Topic','Semester','Relation','ParentAnsweringSurvey','StudentAbsenceDays','Class','ParentschoolSatisfaction']
numerical = ['raisedhands','AnnouncementsView','Discussion']
x_features = ['gender','NationalITy','PlaceofBirth','StageID','GradeID','SectionID','Topic','Semester','Relation','ParentAnsweringSurvey','StudentAbsenceDays','Class','ParentschoolSatisfaction','raisedhands','AnnouncementsView','Discussion']
label = "VisITedResources"
le = preprocessing.LabelEncoder()
for x in categorical:
    le.fit(df[x])
    df[x] = le.transform(df[x])
    if x == label:
        print(x)
        label_encode = le

VisITedResources

In [82]:
import pickle
filename = 'Label_Encoder_2.sav'
pickle.dump(label_encode, open(filename, 'wb'))

In [25]:
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,1,4,4,2,1,0,7,0,0,15,2,2,20,1,1,1,2
1,1,4,4,2,1,0,7,0,0,20,2,3,25,1,1,1,2
2,1,4,4,2,1,0,7,0,0,10,2,0,30,0,0,0,1
3,1,4,4,2,1,0,7,0,0,30,2,5,35,0,0,0,1
4,1,4,4,2,1,0,7,0,0,40,1,12,50,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,0,3,3,1,5,0,2,1,0,5,2,5,8,0,0,0,1
476,0,3,3,1,5,0,5,0,0,50,0,14,28,0,0,1,2
477,0,3,3,1,5,0,5,1,0,55,1,25,29,0,0,1,2
478,0,3,3,1,5,0,6,0,0,30,2,14,57,0,0,0,1
479,0,3,3,1,5,0,6,1,0,35,2,23,62,0,0,0,1

In [26]:
X = df[x_features]
y = df[label]

In [27]:
X.keys()

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'ParentAnsweringSurvey',
       'StudentAbsenceDays', 'Class', 'ParentschoolSatisfaction',
       'raisedhands', 'AnnouncementsView', 'Discussion'],
      dtype='object')

In [28]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.25, random_state=42)

In [29]:
# import matplotlib.pyplot as plt
# import numpy as np
# from sklearn.linear_model import LassoCV

# lasso = LassoCV().fit(X_train, y_train)
# importance = np.abs(lasso.coef_)
# plt.title("Feature importances via coefficients")
# f = plt.figure()
# f.set_figwidth(40)
# f.set_figheight(20)
# plt.bar(height=importance, x=x_features)

In [30]:
clf = make_pipeline(SelectFromModel(RFC()), RFC())

In [31]:
clf

Pipeline(steps=[('selectfrommodel',
                 SelectFromModel(estimator=RandomForestClassifier())),
                ('randomforestclassifier', RandomForestClassifier())])

In [63]:
grid_param = [{
     'randomforestclassifier' : [RFC()],
     'randomforestclassifier__n_estimators' : [2000],
#     'randomforestclassifier__max_depth' : [11],#removed 5,8,
#     'randomforestclassifier__min_samples_leaf' : [5],#removed 1,2,5
#    'randomforestclassifier__max_leaf_nodes' : [41,42,43,45,47]#removed 2,5
}]

In [64]:
grid_search = GridSearchCV(clf,grid_param,cv=2,verbose = 5 , n_jobs = -1 )

In [65]:
model = grid_search.fit(X_train,y_train)

Fitting 2 folds for each of 1 candidates, totalling 2 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   2 | elapsed:    9.0s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   2 out of   2 | elapsed:    9.0s finished

In [66]:
model.best_estimator_

Pipeline(steps=[('selectfrommodel',
                 SelectFromModel(estimator=RandomForestClassifier())),
                ('randomforestclassifier',
                 RandomForestClassifier(n_estimators=2000))])

In [67]:
model.score(X_test,y_test)

0.7

In [68]:
model.score(X_train,y_train)

1.0

In [71]:
import pickle
filename = 'H4_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [72]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)

In [73]:
print(result)

0.7